.chatbot_icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(231, 229, 229, 0.942);
    height: 50px;
    width: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 9.5px 12.7px 0 rgba(0, 0, 0, .05);

    .icon {
        fill: rgb(7, 7, 7);
        height: 30px;
        width: 30px;
    }
}

.chatbot_icon:hover {
    border: 2px solid rgb(214, 217, 221);
}

.chatbot_body {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 350px;
    height: 70vh;
    background-color: rgb(234, 238, 243);
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 9.5px 12.7px 0 rgba(0, 0, 0, .05);
}

.chatbot_header {
    background-color: rgba(255, 255, 255, 0.904);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: 20px;

    .close_icon {
        width: 25px;
        height: 25px;
    }

    .header_div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
    }

    .headr_bot_icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

.chatbot_footer {
    width: 100%;
    height: 70px;

    .chatbot_footer_div {
        background-color: #fff;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;

        .input_div {
            width: 90%;
        }

        .chatbot_input {
            width: 100% !important;
            height: 25px;
            border: none;
            outline: none;
            background-color: #fff;
            color: black;
            font-size: 15px;
        }

        .send_icon {
            fill: black;
            width: 30px;
            height: 30px;
        }
    }

    .footer_developer {
        font-size: 12px;
        text-align: center;

        .developer {
            font-weight: bold;
        }
    }
}


.chtabot_body_messages {
    height: calc(100% - 100px);
    color: black;
    padding: 5px;
    overflow: scroll;

    .user_message_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2px;

        .user_message {
            background-color: rgba(222, 222, 222, 0.889);
            max-width: 80%;
            padding: 5px 10px;
            font-size: 15px;
            border-radius: 10px 10px 0px 10px;
        }

        .time_stamp {
            font-size: 8px;
            text-align: right;
        }
    }

    .bot_message_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4px;


        .bot_message {
            background-color: rgb(255, 255, 255);
            max-width: 80%;
            padding: 5px 10px;
            font-size: 15px;
            border-radius: 10px 10px 10px 0px;
        }

        .time_stamp {
            font-size: 8px;
            text-align: right;
        }
    }

}

.chatbot_btns {
    .chatbot_btn_main {
        display: inline-block;
    }

    .chatbot_btn {
        background-color: #fff;
        display: flex;
        flex-direction: row-reverse;
        padding: 4px 10px;
        border: 2px solid rgba(222, 222, 222, 0.889);
        border-radius: 5px;
        margin: 3px;
        cursor: pointer;
        font-size: 14px;
    }
    .chatbot_btn:hover {
        background-color: transparent;
    }
}